body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #32CD32;
    text-align: center;
    margin-top: 20px;
}

.create-button {
    background-color: #32CD32;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}

    .create-button:hover {
        background-color: #28a745;
        color: white;
    }
.create-button-section{
    margin: 15px auto;
    text-align:center;
}

.table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    .table th {
        background-color: rgba(24, 20, 20, 0.987);
        color: white;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tbody tr:hover {
        background-color: #ddd;
    }

.truncate {
    position: relative;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .truncate .toggle-btn {
        margin-left: 10px;
        background: none;
        border: none;
        color: #32CD32;
        cursor: pointer;
    }

.toggle-btn:hover {
    color: #ff0000;
}

.edit-btn, .details-btn, .delete-btn {
    color: #32CD32;
    text-decoration: none;
}

    .edit-btn:hover, .details-btn:hover, .delete-btn:hover {
        color: #28a745;
    }

.icon-trash {
    color: #32CD32;
}

    .icon-trash:hover {
        color: red;
    }

.table {
    width: 100%;
    overflow-x: auto;
    display: block;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-box {
    width: 400px;
    padding: 40px;
    background: rgba(24, 20, 20, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

    .login-box .user-box {
        position: relative;
    }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:valid ~ label {
            top: -20px;
            left: 0;
            color: #bdb8b8;
            font-size: 12px;
        }

.send-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

    .send-button:hover {
        background: #03f40f;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f, 0 0 100px #03f40f;
    }

    .send-button span {
        position: absolute;
        display: block;
    }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%, 100% {
        left: 100%;
    }
}

.send-button span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
}

.login-box select,
.login-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    appearance: none; 
}


.login-box {
    max-width: 600px;
    margin: auto;
    background: #181414;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

    .login-box .row {
        margin-bottom: 15px;
    }

    .login-box .user-box input,
    .login-box .user-box select,
    .login-box .user-box input[type="date"] {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 10px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        appearance: none; /* Remove default arrow for select */
    }

    .login-box .user-box label {
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 10px;
        transition: 0.5s;
        font-size: 16px;
        color: #fff;
    }

    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label,
    .login-box .user-box select:focus ~ label,
    .login-box .user-box select:valid ~ label,
    .login-box .user-box input[type="date"]:focus ~ label,
    .login-box .user-box input[type="date"]:valid ~ label {
        top: -20px;
        left: 0;
        color: #bdb8b8;
        font-size: 12px;
    }

    .login-box .send-button {
        display: inline-block;
        padding: 10px 20px;
        color: #32CD32;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.5s;
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #32CD32;
        font-size: 16px;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 20px;
        letter-spacing: 4px;
    }

        .login-box .send-button:hover {
            background: #32CD32;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #32CD32, 0 0 25px #32CD32, 0 0 50px #32CD32, 0 0 100px #32CD32;
        }

        .login-box .send-button span {
            position: absolute;
            display: block;
        }

            .login-box .send-button span:nth-child(1) {
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, transparent, #32CD32);
                animation: btn-anim1 1s linear infinite;
            }

            .login-box .send-button span:nth-child(2) {
                top: -100%;
                right: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(180deg, transparent, #32CD32);
                animation: btn-anim2 1s linear infinite;
                animation-delay: 0.25s;
            }

            .login-box .send-button span:nth-child(3) {
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(270deg, transparent, #32CD32);
                animation: btn-anim3 1s linear infinite;
                animation-delay: 0.5s;
            }

            .login-box .send-button span:nth-child(4) {
                bottom: -100%;
                left: 0;
                width: 2px;
                height: 100%;
                background: linear-gradient(360deg, transparent, #32CD32);
                animation: btn-anim4 1s linear infinite;
                animation-delay: 0.75s;
            }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%, 100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%, 100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%, 100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -
