html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.logo-horizontal {
    width: 150px; 
    height: 70px; 
    object-fit: cover;
}

header {
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.3);
}

nav {
    background-color: #d5d9d3;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

footer {
    position:page;
    background-color: #d5d9d3;
    -webkit-box-shadow: -1px -6px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -6px 5px 0px rgba(0,0,0,0.5);
    box-shadow: -1px -6px 5px 0px rgba(0,0,0,0.3);
}

h1 {
    color: #32CD32; /* Verde limão para o título */
}

h4 {
    color: #32CD32;
}

a {
    color: #32CD32;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

hr {
    border-top: 1px solid #696969; /* Cinza escuro para a linha horizontal */
}

dl.row {
    background-color: #696969; /* Fundo cinza escuro para o container */
    padding: 20px;
    border-radius: 8px;
}

dt.col-sm-2 {
    color: #32CD32; /* Verde limão para os títulos das descrições */
    font-weight: bold;
}

dd.col-sm-10 {
    background-color: #fff; /* Fundo branco para os valores das descrições */
    color: #000; /* Texto preto */
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Estilos gerais da página de erro */
.error-page {
    padding: 20px;
    color: #333; 
    margin-top: 20px;
}

/* Título do erro */
.error-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Subtítulo do erro */
.error-subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Request ID */
.error-request-id {
    font-size: 1rem;
    margin-bottom: 20px;
}

.error-details {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

.error-mode-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.error-message {
    font-size: 1rem;
    margin-bottom: 10px;
}


.error-warning {
    font-size: 0.875rem;
    color: #dc3545; 
}


/* Estilos gerais da página de privacidade */
.privacy-page {
    margin-top: 15px;
    padding: 15px;
    color: #333; /* Exemplo de cor de texto */
    font-family: Arial, sans-serif; 
}

/* Título da página de privacidade */
.privacy-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #32CD32; 
}

.privacy-content {
    margin-top: 20px;
}

 .privacy-content h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: #696969; 
    }

    .privacy-content p {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .privacy-content ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 15px;
    }

        .privacy-content ul li {
            font-size: 1rem;
            margin-bottom: 5px;
        }
